server:
  port: 8080

security:
  basic:
    enabled: false

spring:
  velocity:
    cache: false
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    enabled: true
    resource-loader-path: /templates
    prefix: /templates/
    suffix: .vm

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.56.211:3307/training?useUnicode=TRUE&autoReconnect=true&connectTimeout=60000&socketTimeout=60000&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false
    username: intern
    password: intern

#MyBatis配置
mybatis:
  #mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: cn.lh.travel.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

